<ng-template [ngIf]="(apiLoaded$ | async)">

  <!-- HELLLLOOOO -->
  <!-- (mapClick)="listingList$ ? false :handleMapClick($event)" -->
  <google-map #googleMap [width]="width"
              [height]="height"
              [options]="options!"
              scrollWheel="null"
              (mapClick)="click($event)">
    <!-- <ng-template *ngIf="markers"> -->
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker?.position!"
        [title]="marker.title || 'Default title'"
      >
      </map-marker>
    <!-- </ng-template> -->

  </google-map>
</ng-template>

<button (click)="changeMarker()">change marker</button>

<!-- <div #priceTag class="price-tag">
  $18
</div> -->
