div {
  padding: 50px;
  text-align: center;
}

.content {
  margin-top: 20px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(231, 171, 241);
  color: #fff;

  &:hover {
    opacity: 0.85;
  }
}
